<div class="header-container">
  <div class="header-left">
    <p class="header-name">{{ header.name }}</p>
    <b>    <p class="header-goal">{{ header.goalLife }}</p> </b>
  </div>

  <div class="header-center">
    <img [src]="header.photoUrl" alt="Foto de perfil">
  </div>

  <div class="header-right">
    <p><i class="fas fa-envelope"></i> {{ header.email }}</p>
    <p><i class="fas fa-phone"></i> {{ header.phoneNumber }}</p>
    <p><i class="fas fa-map-marker-alt"></i> {{ header.location }}</p>
    <p><i class="fab fa-twitter"></i> {{ header.socialNetwork }}</p>
  </div>
</div>

