<div class="cv-container-infographic">
  <!-- Columna izquierda -->
  <div class="left-panel">
    <app-header></app-header>

    <hr class="divider" />

    <app-work-experience></app-work-experience>

    <hr class="divider" />

    <app-education></app-education>
  </div>

  <!-- Columna derecha -->
  <div class="right-panel">
    <app-skills></app-skills>

    <hr class="divider" />

    <app-certificates></app-certificates>

    <hr class="divider" />

    <app-languages></app-languages>

    <hr class="divider" />

    <app-interests></app-interests>
  </div>
</div>

